.juke-box-player {
  display: flex;
  // flex-direction: column;
  // position: relative;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 16px;
  width: 75%;
  height: 75vh;
  max-width: 82%;
  max-height: 90vh;
  background-color: rgba(81, 129, 189, 0.1);
  backdrop-filter: blur(10.2px);
  border: 1px solid rgba(81, 129, 189, 0.24);
  padding-left: 20px;
  padding: 30px;
};

.juke-box-player__content {
  display: flex;
  flex-direction: column;
  position: relative;
  color: whitesmoke;
  margin: auto;
  width: 98%;
  height: 100%;
  font-size: 15px;
}

.juke-box-player__now-playing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 1px solid rgba(81, 129, 189, 0.24);
  width: 100%;
  height: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
};

.juke-box-player__next-song {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 1px solid rgba(81, 129, 189, 0.24);
  width: 100%;
  height: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
};

.juke-box-player__current-playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 1px solid rgba(81, 129, 189, 0.24);
  width: 100%;
  height: 70%;
  margin-top: 1em;
  margin-bottom: 2px;
  overflow-y: auto;
};

