.playlist__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding-left: 25px;
  pointer-events: none; /* prevent click functionality outside modal */
}

.playlist__modal-content {
  background: rgba(81, 129, 189, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(81, 129, 189, 0.24);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
  max-width: 900px; /* Ensures the modal doesn't get too large on wide screens */
  max-height: 90vh; /* Prevents modal from being too tall on large screens */
  pointer-events: auto;
}

/* Container for the search results */
.playlist__results {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: 95%;
  max-height: 95%;
  overflow-y: auto;
  padding: 7px;
  background: rgba(255, 255, 255, 0.052);
  border-radius: 5px;
}

.playlist__list-mgr {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 15px;
}

thead {
  background-color:  rgba(70, 68, 68, 0.271);
}

th {
  border: 2px solid;
  border-spacing: 1em;
  border-color:  rgba(255, 255, 255, 0.052);
  text-align: center;
  color: white;
  table-layout: fixed;
  width: 200px;
  padding: 8px;
}

tbody {
  padding: 8px;
  word-wrap: break-word;
  text-align: center;
  
}
td {
  padding: 5px;
}

.playlist__list-mgr__artist,
.playlist__list-mgr__title {
  text-align: left !important;
}
