.qrcode {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin: auto;
  width: 30%;
  height: 90%;
  max-height: 75%;
  background-color: rgba(81, 129, 189, 0.1);
  backdrop-filter: blur(10.2px);
  border: 1px solid rgba(81, 129, 189, 0.24);
  padding: 25px;
  color: auto;
  font-size: 1.2em;
  font-weight: 500;
}