/* Style for the overall side navigation */
.side-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  backdrop-filter: blur(10.2px);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 0px 8px -5px #222;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 85px;
  transform: translateX(-100%); /* Initially hide the side nav */
  transition: transform 0.3s ease; /* Smooth transition when toggling */
}

/* When the side nav is active, show it */
.side-nav-bar.active {
  transform: translateX(0); /* Slide in the nav */
}

/* Position the logo and ensure it's clickable */
.side-nav-bar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 7px;
  left: 5px;
  z-index: 10;
  cursor: pointer;
  color: #EED559;
  font-size: 1.5em;
}

/* Icons inside the navigation */
.side-nav-bar__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

/* Admin control icons */
.side-nav-bar__admin-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
};

/* Media control icons */
.side-nav-bar__media-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 8px;
};

/* Login button */
.side-nav-bar__login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 2em;
}

/* Logout button */
.side-nav-bar__logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 2em;
}

/* Icon hover effects */
i {
  padding: 0.5em;
}

.fa-sliders:hover,
.fa-house:hover,
.fa-user-plus:hover,
.fa-magnifying-glass:hover,
.fa-music:hover,
.fa-circle-pause:hover,
.fa-heart-circle-xmark:hover,
.fa-forward-step:hover,
.fa-arrow-right-from-bracket:hover,
.fa-arrow-right-to-bracket:hover {
  text-shadow: 0 0 10px #EED559;
}

/* Icon sizes */
.fa-sliders {
  color: #EED559;
  font-size: 1.5em;
}

/* Default icon sizes for control icons */
.fa-house, .fa-user-plus, .fa-magnifying-glass, .fa-heart-circle-xmark,
.fa-circle-pause, .fa-forward-step, .fa-arrow-right-from-bracket, .fa-music {
  color: #8b8c8d;
  font-size: 1.5em;
}

.side-nav-bar__search-link {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .side-nav-bar__logo,
  .fa-sliders,
  .fa-house,
  .fa-user-plus,
  .fa-magnifying-glass,
  .fa-music,
  .fa-circle-pause,
  .fa-heart-circle-xmark,
  .fa-forward-step,
  .fa-arrow-right-from-bracket,
  .fa-arrow-right-to-bracket {
    font-size: 1.5em;
  }
}

.side-nav-bar__search-link {
  display: none;
}

/* Mobile View */
@media (max-width: 510px) {
  /* Initially hide the side nav and all icons */
  .side-nav-bar,
  .side-nav-bar__logo,
  .side-nav-bar__icon,
  .side-nav-bar__admin-control,
  .side-nav-bar__media-control,
  .side-nav-bar__logout,
  .side-nav-bar__login {
    display: none;
  }

  /* The search link will be visible on small screens */
  .side-nav-bar__search-link {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 1em;
    color: #8b8c8d;
    cursor: pointer;
    padding: 8px;
    top: 15px;
    left: 5px;
  }

  .side-nav-bar__search-link:hover {
    text-shadow: 0 0 10px #EED559;
  }
}
