/* Style for the overall side navigation */
.side-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  backdrop-filter: blur(10.2px);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 0px 8px -5px #222;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  transform: translateX(-100%); /* Initially hide the side nav */
  transition: transform 0.3s ease; /* Smooth transition when toggling */
  z-index: 900;
}

/* When the side nav is active, show it */
.side-nav-bar.active {
  transform: translateX(0); /* Slide in the nav */
}

/* Position the logo and ensure it's clickable */
.side-nav-bar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 7px;
  left: 5px;
  z-index: 10;
  cursor: pointer;
  color: #eed559;
  font-size: 1.5em;
  z-index: 1000;
}

/* Icons inside the navigation */
.side-nav-bar__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

/* Admin control icons */
.side-nav-bar__admin-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
}

/* Media control icons */
.side-nav-bar__media-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  padding: 8px;
}

/* Login button */
.side-nav-bar__login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 2em;
}

/* Logout button */
.side-nav-bar__logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 2em;
}

/* Icon hover effects */
i {
  padding: 0.5em;
}

.fa-sliders:hover,
.fa-house:hover,
.fa-user-plus:hover,
.fa-magnifying-glass:hover,
.fa-location-arrow:hover,
.fa-mobile-alt:hover,
.fa-music:hover,
.fa-circle-pause:hover,
.fa-heart-circle-xmark:hover,
.fa-forward-step:hover,
.fa-arrow-right-from-bracket:hover,
.fa-arrow-right-to-bracket:hover {
  text-shadow: 0 0 10px #eed559;
}

/* Icon sizes */
.fa-sliders {
  color: #eed559;
  font-size: 1.5em;
}

/* Default icon sizes for control icons */
.fa-house,
.fa-user-plus,
.fa-magnifying-glass,
.fa-location-arrow,
.fa-mobile-alt,
.fa-heart-circle-xmark,
.fa-circle-pause,
.fa-forward-step,
.fa-arrow-right-from-bracket,
.fa-music {
  color: #8b8c8d;
  font-size: 1.5em;
}

.side-nav-bar__search-link {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .side-nav-bar__logo,
  .fa-sliders,
  .fa-house,
  .fa-user-plus,
  .fa-magnifying-glass,
  .fa-location-arrow,
  .fa-mobile-alt,
  .fa-music,
  .fa-circle-pause,
  .fa-heart-circle-xmark,
  .fa-forward-step,
  .fa-arrow-right-from-bracket,
  .fa-arrow-right-to-bracket {
    font-size: 1.5em;
  }
}

.side-nav-bar__search-link {
  display: none;
}

/* Mobile View */
@media (max-width: 510px) {
  /* Initially hide the side nav and all icons */
  .side-nav-bar__media-control,
  .fa-user-plus,
  .fa-heart-circle-xmark,
  .fa-music,
  .fa-magnifying-glass,
  .fa-location-arrow,
  .fa-mobile-alt,
  .side-nav-bar__search-link,
  .side-nav-bar__login {
    display: none;
  }

  .side-nav-bar__logo {
    z-index: 1000;
    font-size: 1em;
    top: 10px;
  }

  .side-nav-bar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 8vh !important;
    top: 0;
    bottom: 100px;
    min-height: 8vh;
  }

  .fa-house,
  .fa-magnifying-glass,
  .side-nav-bar__logout {
    font-size: 1.2em;
    top: 8px;
  }

  .fa-house {
    margin-left: 15%;
  }

  .fa-magnifying-glass {
    display: flex;
    position: fixed;

    margin-top: 1em;
    margin-left: 30%;
  }

  .side-nav-bar__logout {
    margin-left: 45%;
  }
}
