.track_list_mgr {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 15px;
  
}
th {
  border: 2px solid;
  border-spacing: 1em;
  border-color:  rgba(255, 255, 255, 0.052);
  text-align: center;
  color: white;
  table-layout: fixed;
  width: 200px;
  padding: 8px;
}

tbody {
  padding: 8px;
  word-wrap: break-word;
  text-align: center;
}
td {
  padding: 5px;
}

.track-list-mgr__artist,
.track-list-mgr__title {
  text-align: left !important;
}