/* Default styles for larger screens */


.App {
  display: flex;
  background-image: url('../Images/SoundWaveImage.jpg');
  /* background-color: black; */
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
}

