/* Default styles for larger screens */


.App {
  display: flex;
  background-image: url('../Images/ConcertImage.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
}

