/* Default styles for larger screens */


.App {
  display: flex;
  background-image: url('../Images/ConcertImage.jpg');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the whole screen */
  z-index: -1; /* Sends the video to the background */
}

